.ssi-toggle, .account-button, .demo-mode {
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 85%;
}

.ssi-toggle:hover {
    background: rgba(0, 0, 0, 0.04);
}

.ssi-toggle.active {
    background: #2560D6;
    color: #fff;
}

.book-price-line {
    background: #61ab02;
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    height: 1px;
    z-index: 2;
    border: none;
}

.account-button {
    position: relative;
}

.account-button:hover {
    background: rgba(0, 0, 0, 0.04);
}

.account-button:after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #7a7a7a;
}

.account-button.online:after {
    background: #00DA7F;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.account-button.offline:after {
    background: red;
    border: 1px solid rgba(255, 255, 255, 0.24);
}


.account-button .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.demo-mode {
    background: #e43971;
    color: #fff;
    border-radius: 4px;
}